@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

body {
  padding-bottom: 30px;
  margin-top: 15px;
}

.name {
  font-size: 3em;
}

img {
  padding: 20px;
  max-width: 100%;
  max-height: 50%;
}

.summary {
  margin-top: 10px;
  min-height: 300px;
  max-height: 500px;
  overflow: auto;
  border: solid gray;
}

#game, #reviews {
  margin: 10px;
  border: solid gray;
  max-height: 900px;
  overflow: auto;
}

.navbar-fixed-bottom {
  margin-bottom: -25px;
}
