<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#main-nav-bar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand name" href="#">PC Game Review</a>
    </div>

    <div class="collapse navbar-collapse" id="main-nav-bar">
      <ul class="nav navbar-nav navbar-right">
        {{#nav-link-to 'index' data-toggle='collapse' data-target='#main-nav-bar'}}Games{{/nav-link-to}}s
      </ul>
    </div>
  </div>
</nav>

<header class="text-center well">
  <!-- <h1>PC Game Review</h1> -->
</header>
<div class="container">
  {{outlet}}
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <footer>
      | {{#link-to 'index'}}Games{{/link-to}} |
      {{#link-to 'about'}}About{{/link-to}} |
    </footer>
  </div>
</nav>
